:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

@media (min-width: 900px) {
    body {
        overflow-x: hidden;
    }
    .header {
        position: absolute;
        top: 0;
        width: 100vw;
    }

    .navbar > ul {
        display: flex;
        list-style: none;
        justify-content: center;
    }

    .navbar {
        background-color: #000000e6;
        padding: 1em;
    }

    .navbar > ul > li {
        margin: auto 2em;
    }

    .navbar > ul > li > a {
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
    }

    .navbar > ul > li > a:hover {
        color: blue;
    }
    .mobile-nav {
        display: none;
    }

    .brand {
        background-color: black;
        box-shadow: grey 0em 0em 0.5em;
        color: white;
        padding: 0.3em 0.7em;
        border-radius: 0.3em;
        font-family: "Roboto", sans-serif;
    }

    h2 span {
        color: blue;
    }

    /*here is our home section styling*/

    .home {
        background-color: red;
        background-image: url("./images/home.jpg");
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 4em;
        display: flex;
        justify-content: center;
    }

    .info {
        width: 25em;
        margin: auto;
        background-color: #000000e3;
        color: white;
        padding: 2em 3em;
        border-radius: 1em;
    }

    .info:hover {
        box-shadow: 0em 0em 0.5em white;
    }

    .info span {
        font-size: 2em;
        font-weight: bolder;
        margin-bottom: 1em;
        font-family: "Roboto", sans-serif;
    }

    .info p {
        margin-top: 1em;
        font-size: 1.2em;
        font-family: "Roboto", sans-serif;
    }

    .icons {
        display: flex;
        justify-content: space-around;
        margin-top: 1em;
        font-size: 1.4em;
    }

    .icons a {
        text-decoration: none;
        color: white;
        transition-property: all;
        transition-duration: 0.1s;
        transition-delay: 0.1s;
        transition-timing-function: ease-out;
    }

    .icons a:hover {
        color: blue;
        font-size: 1.45em;
        z-index: 2;
    }

    .home > a {
        font-size: 2.9em;
        position: absolute;
        bottom: 0.1em;
        color: white;
        transition: all 0.3s ease-in 0.1s;
    }

    .home > a:hover {
        font-size: 3em;
    }

    /* here start our about me section */
    .about {
        background: rgb(34, 193, 195);
        background: linear-gradient(
            262deg,
            rgba(34, 193, 195, 1) 0%,
            rgba(38, 96, 218, 1) 32%,
            rgba(45, 238, 253, 1) 100%
        );
        display: flex;
        justify-content: center;
        height: 100vh;
    }
    .image {
        flex: 1;
        padding: 2em;
        margin: 2em auto;
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }
    .image > img {
        width: 17.75em;
        height: 23.75em;
        border-radius: 2em;
    }
    .info-about {
        flex: 2;
        padding: 3.8em;
        align-items: center;
    }

    .info-about > h3 {
        font-size: 3em;
    }

    .info-about > p {
        margin-top: 1.5em;
        margin-bottom: 2em;
        font-size: 1.5em;
    }
    .about > a {
        font-size: 2.9em;
        position: absolute;
        bottom: -16em;
        color: white;
        transition: all 0.3s ease-in 0.1s;
    }
}
@media (max-width: 899px) {
    .header {
        position: fixed;
        width: 100%;
    }
    .navbar > ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
    }

    .navbar {
        background-color: black;
        padding: 0em;
        position: fixed;
        width: 100%;
        height: 100%;
        display: none;
    }

    .navbar > ul > li {
        margin: 2em auto;
    }

    .navbar > ul > li > a {
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
    }

    .navbar > ul > li > a:hover {
        color: blue;
    }

    .brand {
        background-color: black;
        box-shadow: grey 0em 0em 0.5em;
        color: white;
        padding: 0.3em 0.7em;
        border-radius: 0.3em;
        font-family: "Roboto", sans-serif;
    }
    .navbar .brand {
        display: none;
    }

    h2 span {
        color: blue;
    }
    .hamburger > div {
        width: 2em;
        height: 0.3em;
        background-color: white;
        margin-bottom: 0.2em;
        cursor: pointer;
    }

    .mobile-nav {
        display: flex;
        justify-content: space-between;
        background-color: #000000e6;
        padding: 1em;
        font-family: "Roboto", sans-serif;
    }

    .mobile-nav > div {
        margin: auto 0em;
    }

    /* here is our home stylinng for mobile layouts */

    .home {
        background-color: red;
        background-image: url(./images/home.jpg);
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 1em;
        display: flex;
        justify-content: center;
    }

    .info {
        width: 25em;
        margin: auto;
        background-color: #000000e3;
        color: white;
        padding: 2em 1em;
        border-radius: 1em;
    }

    .info:hover {
        box-shadow: 0em 0em 0.5em white;
    }

    .info span {
        font-size: 2em;
        font-weight: bolder;
        margin-bottom: 1em;
        font-family: "Roboto", sans-serif;
    }

    .info p {
        margin-top: 1em;
        font-size: 1.2em;
        font-family: "Roboto", sans-serif;
    }

    .icons {
        display: flex;
        justify-content: space-around;
        margin-top: 1em;
        font-size: 1.4em;
    }

    .icons a {
        text-decoration: none;
        color: white;
        transition-property: all;
        transition-duration: 0.1s;
        transition-delay: 0.1s;
        transition-timing-function: ease-out;
    }

    .icons a:hover {
        color: blue;
        font-size: 1.45em;
        z-index: 2;
    }

    .home > a {
        display: none;
        font-size: 2.9em;
        position: absolute;
        bottom: 0.1em;
        color: white;
        transition: all 0.3s ease-in 0.1s;
    }

    .home > a:hover {
        font-size: 3em;
    }

    /* HERE WE START OUR ABOUT ME SECTION */
    .about {
        background: rgb(34, 193, 195);
        background: linear-gradient(
            262deg,
            rgba(34, 193, 195, 1) 0%,
            rgba(38, 96, 218, 1) 32%,
            rgba(45, 238, 253, 1) 100%
        );
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: Roboto, sans-serif;
    }
    .image {
        flex: 1;
        padding: 2em;
        margin: 2em auto;
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }
    .image > img {
        width: 12.75em;
        height: 18.75em;
        border-radius: 2em;
    }
    .info-about {
        flex: 2;
        padding: 3.8em;
        align-items: center;
    }

    .info-about > h3 {
        font-size: 2em;
    }

    .info-about > p {
        margin-top: 1.5em;
        margin-bottom: 2em;
        font-size: 1em;
    }
    .about > a {
        font-size: 2.9em;
        position: absolute;
        bottom: -16em;
        color: white;
        transition: all 0.3s ease-in 0.1s;
    }
    .about > a:hover {
        font-size: 3em;
    }
}
